<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <title>Login</title>
</head>
<body>
<h2>Log in</h2>
<form action="/login" th:action="@{/login}" method="post">
    <!--<select>-->
    <!--<option th:each="trainer : ${trainers}" th:text="${trainer.getTrainername()}"/>-->
    <!--</select>-->
    <div id="err" th:if="${param.error}" class="alert alert-danger">Wrong Trainer name and/or password</div>
    <p></p>
    <p class="form-group">
        <label for="username">Trainer name:</label>
        <input type="text" required class="form" size="30px"  id="username" name="username"  placeholder="Trainer name"/>
    </p>
    <p class="form-group">
        <label for="password">Trainer password:</label>
        <input type="password" required class="form" size="30px" id="password" name="password" placeholder="Password">
    </p>
    <p class="checkbox-inline">
        <input id="checkbox" type="checkbox" onclick="myFunction()">
        Show password
    </p>
    <script>
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <p></p>
    <p>
        <input type="submit" value="Login" class="btn btn-success"/>
        <input type="reset" value="Reset" class="btn btn-warning"/>
        <a href="register" class="btn btn-default" role="button" th:action="@{/register}" method="get">Sign up</a>
    </p>
</form>


<!--<form name="login" th:action="@{/login}" method="post" class="form-signin">-->
    <!--<h2 class="form-signin-heading">Kérlek jelentkezz be</h2>-->
    <!--<div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználói név és jelszó</div>-->
    <!--<label for="username" class="sr-only">Felhasználói név</label>-->
    <!--<input type="text" id="username" name="username" class="form-control" placeholder="Felhasználói név"-->
           <!--required="true"/>-->
    <!--<label for="password" class="sr-only">Jelszó</label>-->
    <!--<input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required="true"/>-->
    <!--<div class="checkbox">-->
        <!--<label> <input id="remember-me" name="remember-me" type="checkbox"/> Emlékezz rám-->
        <!--</label>-->
    <!--</div>-->
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Bejelentkezés</button>-->
<!--</form>-->


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>